# flyctl launch added from .gitignore
**/__pycache__
**/*.pyc
**/instance
**/*.sqlite
**/*.sqlite3
**/.venv
**/venv
**/ENV
**/.env

# flyctl launch added from .idea/.gitignore
# Default ignored files
.idea/shelf
.idea/workspace.xml

# flyctl launch added from __pycache__/.gitignore
__pycache__/**/__pycache__
__pycache__/**/*.pyc
__pycache__/**/instance
__pycache__/**/*.sqlite
__pycache__/**/*.sqlite3
__pycache__/**/.env
fly.toml
